<app-template-b title="Clients" subtitle="all clients" >


<app-table-light *ngIf="collection" [headers]="headers">
      <tr *ngFor="let item of collection">
        <td [appState]="item.state">
          <select (change)="changeState(item, $event)">
            <option *ngFor="let state of states" [value]="state" [selected]="state === item.state">{{ state }}</option>
          </select>
        </td>
        <td>{{item.tva}}</td>
        <td>{{item.id}}</td>
        <td>{{item.name }}</td>
        <td>{{item.ca }}</td>
        <td>{{item.comment}}</td>
      </tr>
</app-table-light>

<app-btn [label]="btnRoute.label" [route]="btnRoute.route"></app-btn>
<app-btn [label]="btnHref.label" [href]="btnHref.href"></app-btn>
<app-btn [label]="btnAction.label" [action]="btnAction.action"></app-btn>

</app-template-b>
