<app-template-a title="Orders" subtitle="all orders" >

<app-table-dark *ngIf="collection$ |async as collection" [headers]="headers">
<tr *ngFor="let item of collection">
  <td>{{item.typePresta }}</td>
  <td>{{item.client}}</td>
  <td appNbJours [nbjour]="item.nbJours" >{{item.nbJours }}</td>
  <td>{{item.tjmHt |currency:'Eur' }}</td>
  <td>{{item |total| currency:'Eur' }}</td>
  <td>{{item |total : 'ttc' |currency:'Eur'}}</td>

 <td [appState]="item.state">
  <select (change)="changeState(item, $event)">
    <option *ngFor="let state of states" [value]="state" [selected]="state === item.state">{{ state }}</option>
  </select>
</td>
</tr>
</app-table-dark>

<app-btn [label]="btnRoute.label" [route]="btnRoute.route"></app-btn>
<app-btn [label]="btnHref.label" [href]="btnHref.href"></app-btn>
<app-btn [label]="btnAction.label" [action]="btnAction.action"></app-btn>

<app-text [page]="true">
   <h1>title</h1>
   <h2>subtitle</h2>
   <h3>sub subtitle</h3>
   <p> du texte dans un paragrahe</p>
</app-text>

</app-template-a>
